{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}

<div class="container notifications-container">
    {% if notifications %}
    <a href="{{path('notif_delete_all')}}">
        <button class="btn btn-primary notifications-read-button">
            Marquer tout comme vu.
        </button>
    </a>
    <ul class="list-group admin-list notifications-list">
        {% for notification in notifications %}
        <div class="notification-item">
            <li class="list-group-item">Date : {{notification.date | date("d/m/y")}}</li>
            <li class="list-group-item">Message : {{notification.content}}</li>
            <a href="{{path('notif_delete', {'id' : notification.id })}}" class="delete_notif">
                <button class="btn btn-primary">Marquer comme vu</button>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <h5>Vous n'avez aucune notification pour le moment.</h5>
        {% endif %}
    </ul>
</div>
{% endblock %}