{% for notification in notifications | slice(start, 20) %}
<div style='margin-bottom:30px'>
    <li class="list-group-item">Type : {{notification.type}}</li>
    <li class="list-group-item">Message : {{notification.content}}</li>
    <li class="list-group-item">Concerné : {{notification.username}}</li>
    <li class="list-group-item"><a href={{path('delete_notification', {'id' : notification.id})}}>
    <button class="btn btn-primary">Marquer comme vu</button></a></li>
</div>
{% endfor %}