{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main id="col-main">

<div class="dashboard-container">
			<div class="row">
        {% for video in videos %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="item-listing-container-skrn">
                <a href="{{path("movie", {"id" : video.id, "idcategory" : video.category.id})}}"><img src="{{asset('images/upload/' ~ video.videoimage)}}" alt="movies" class="imagemovie"></a>
                <div class="item-listing-text-skrn">
                    <div class="item-listing-text-skrn-vertical-align"><h6><a href="dashboard-movie-profile.html">{{video.videotitle}}</a></h6>
                      <div
                        class="circle-rating-pro"
                        data-value="0.86"
                        data-animation-start-value="0.86"
                        data-size="32"
                        data-thickness="3"
                        data-fill="{
                          &quot;color&quot;: &quot;#42b740&quot;
                        }"
                        data-empty-fill="#def6de"
                        data-reverse="true"
                      ><span style="color:#42b740;">8.6</span></div>
                    </div><!-- close .item-listing-text-skrn-vertical-align -->
                </div><!-- close .item-listing-text-skrn -->
            </div><!-- close .item-listing-container-skrn -->
        </div><!-- close .col -->
        {% endfor %}
    </div><!-- close .row STOP-->
    
    
    <div style="width:200px;margin:auto;">
      <div class="navigation">
        {{ knp_pagination_render(videos) }}
      </div>
      </div>
    
            
</div><!-- close .dashboard-container -->
</main>
{% endblock %}