{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main id="col-main">

		{% if videos %}

			{% include 'video/_mainvideolist.html.twig' %}
		
			{% if totalVideos > loadMoreStart %}
				<div class="pagination">
					<div class="navigation" id="loadbutton">
						<button class="btn btn-primary" id="loadMoreVideos">Load more</button>
					</div>
				</div>
			{% endif %}

		{% endif %}

	</div><!-- close .dashboard-container -->
</main>
{% endblock %}
{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	click = 0;
	function loadMoreVideos(event) {
		event.preventDefault();
		click++;
		var start = 50 * click;
		const url = "{{path('loadMoreVideos')}}/" + start;
		axios.get(url).then(function (response) {
			$("#videos").append(response.data);
			if(!response.data) {

				let loadButton = document.getElementById("loadbutton");
				loadButton.textContent = 'Plus aucune vidéo à afficher';

			}
		}).catch(function (error) {
			if (response.status === 403) {
				window.alert("You are not authorized to perform this action!");
			} else if (response.status === 404) {
				window.alert("This page does not exist");
			} else {
				window.alert("An error has occurred !");
			}
		});
	}
	document.getElementById("loadMoreVideos").addEventListener("click", loadMoreVideos);
</script>
{% endblock %}