{% extends 'homebase.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
		

		<div id="content-pro">
			
  	 		<div class="container">
					<div class="centered-headings-pro pricing-plans-headings">
						<h4>Modifiez votre mot de passe.</h4>
					</div>
			</div><!-- close .container -->
			
			<div id="pricing-plans-background-image">
				<div class="container">
						<div class="registration-steps-page-container">
	  					 
							
							<form class="registration-steps-form update-password-form-size" method="post">
								{% for message in app.flashes('wrong_password') %}
								<div class="alert alert-danger">
									{{ message }}
								</div>
								{% endfor %}
							 <div class="form-group">
									<label for="inputPassword">Nouveau mot de passe</label>
									<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Ajouter un nouveau mot de passe" required>
                                </div>
                                <div class="form-group">
									<label for="inputPassword">Confirmez mot de passe</label>
									<input type="password" name="confirmPassword" class="form-control" id="inputPassword" placeholder="Confirmez votre nouveau mot de passe" required>
								</div>

                                <div class="form-group last-form-group-continue">
                                    <input type="submit" class="btn btn-primary" value="Modifiez">
								</div>
							</form>
							
						</div><!-- close .registration-steps-page-container -->
					
				</div><!-- close .container -->
			</div><!-- close #pricing-plans-background-image -->
			
		</div><!-- close #content-pro -->
{% endblock %}