<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{asset("images/icones/favicon.png")}}">
    <title>Erreur 404</title>
</head>
<body>
    <div class="container">
        <h4 class="error-404-message">
            Erreur, la page que vous recherchez n'existe pas.
            <div class="button-error-404">
                <a href="{{path("homepage")}}">
                    <button class="btn btn-primary btn-center">
                        Retour à l'accueil
                    </button>
                </a>
            </div>
        </h4>
    </div>
</body>
</html>

