{% extends 'base.html.twig' %}
{% block title %}Page non trouvée.{% endblock %}
{% block body %}
<div class="container">
    <h4 class="error-404-message">
        Erreur, la page que vous recherchez n'existe pas.
        <div class="button-error-404">
            <a href="{{path("homepage")}}"><button class="btn btn-primary btn-center">Retour à l'accueil</button></a>
        </div>
    </h4>
</div>
{% endblock %}