{% extends 'base.html.twig' %}

{% block title %}Vos vidéos{% endblock %}

{% block body %}

<div class="dashboard-container">
    <div class="errormessage">
        <h4 class="errortext">Aucune vidéo n'a été trouvée avec ce titre</h4>
        <h4 class="back_home">Retour à <a href="{{path('user_videos')}}">l'espace administrateur</a></h4>
    </div>
</div>
</div><!-- close .dashboard-container -->
</main>
{% endblock %}