<h3>Mylion.</h3>
<h3>Activation de votre compte.</h3>
<p>
    Cher client(e), vous avez créé un compte sur notre site Mylion,
    veuillez cliquer sur le lien ci-dessous pour l'activer.
</p>
<p>
    <a href="{{ absolute_url(path('activation', {'token': token})) }}">
        Activer mon compte.
    </a>
</p>
<p>Ceci est un email automatique, merci de ne pas y répondre.</p>