<h4>
    <a href="https://mylion-streaming.com">
        Mylion.
    </a>
</h4>
<h4>
    Blocage de votre compte.
</h4>
<p>
    Cher client(e), nous avons bloqué votre compte 
    car vous avez une mensualité impayée. Afin que nous puissions
    débloquer votre compte, nous vous invitons à régulariser votre situation.
    Un email de relance vous a été envoyé à cet effet, il suffira de régler la somme due
    via le formulaire de paiement qu'il contient, puis votre compte sera débloqué
    dans les plus brefs délais.
</p>
<p>
    Si vous souhaitez avoir plus de précisions concernant le blocage de votre compte,
    ou si vous n'avez pas reçu l'email de relance permettant de régler la mensualité due,
    merci de bien vouloir nous envoyer un message via 
    le <a href="{{absolute_url(path('contact'))}}">formulaire de contact.</a>,
    en nous précisant votre demande, nous vous répondrons dans les meilleurs délais, 
    afin que vous puissiez retrouver au plus vite l'accès à nos services.
</p>
<p>
    Merci de votre compréhension. Cordialement.
</p>
