<h4>Mylion.</h4>
<h4>Suppression de votre vidéo.</h4>
<p>
Cher client(e), nous avons supprimé votre vidéo <span class="video_title_color">{{videotitle}}</span>
car son contenu était contraire aux valeurs de notre société.
</p>
<p>
Principalement nous supprimons une vidéo soit car elle 
portait atteinte aux droits d'auteurs ou soit 
car son contenu était offensant, et a fait l'objet d'un signalement.
</p>
<p>
Si vous souhaitez avoir plus de précisions concernant la suppression 
de votre vidéo, merci de bien vouloir nous envoyer un message
via le <a href="{{absolute_url(path('contact'))}}">formulaire de contact.</a>
</p>
