<h1>Récupération du mot de passe</h1>
<p>Vous avez demandé un nouveau de mot de passe sur notre site Neomoviz</p>
<p>Cliquez sur le lien suivant pour modifier votre mot de passe</p>
<p><a href="{{absolute_url(path('app_reset_password', {'token': token}))}}">Activer mon compte</a></p>
<p>Ceci est un mail automatique, merci de ne pas y répondre</p>