<h4>Mylion.</h4>
<h3>Récupération du mot de passe oublié.</h3>
<p>Vous avez demandé un nouveau de mot de passe sur notre site Mylion.</p>
<p>Veuillez cliquez sur le lien suivant pour modifier votre mot de passe.</p>
<p><a href="{{absolute_url(path('app_reset_password', {'token': token}))}}">Modifier mon mot de passe.</a></p>
<p>Ceci est un mail automatique, merci de ne pas y répondre.</p>